header.site-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #738be2;
    border: 1px solid #ddd;
    border-radius: 5px;
}
header.site-header img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}


h1{
    margin: 0; 
    flex: 1;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    background: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"] {
    width: 100%;}